<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
		
<configuration>
	<typeAliases>
		<typeAlias alias="board" type="com.ekqlsart.ekqls.dto.board"/>
		<typeAlias alias="comment" type="com.ekqlsart.ekqls.dto.comment"/>
		<typeAlias alias="likeboard" type="com.ekqlsart.ekqls.dto.likeboard"/>
		<typeAlias alias="member" type="com.ekqlsart.ekqls.dto.member"/>
	</typeAliases>
</configuration>

